{{ 'footerMain.css' | asset_url | stylesheet_tag }}

<div class="container">
  <div class="row">
    <div class="col-lg-4">© Copyright 2022 | AsBridges By <a href="https://creatick.io" target="_blank">Creatick</a></div>
    <div class="col-lg-4">Privacy Policy
    Returns
    Terms & Services
    Contact</div>
    <div class="col-lg-4">Payments image</div>
  </div>
</div>

{% schema %}
{
  "class": "footerMain"
}
{% endschema %}