.latestProducts {
  margin-top: 100px;
  margin-bottom: 50px;
}
.latestProducts .sectionHeader {
  font-weight: 400;
  font-size: 28px;
  color: #222;
  text-align: center;
  margin-bottom: 50px;
}
.latestProducts #productsList {
  list-style: none;
}
.latestProducts #productsList .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  position: relative;
}
.latestProducts #productsList .item .upper:hover .wishlistWrapper {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.latestProducts #productsList .item .wishlistWrapper {
  margin-top: -45px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.latestProducts #productsList .item .wishlistWrapper .wishlist .wishlisthero-floating {
  width: 36px;
  height: 36px;
  position: relative !important;
  left: 10px !important;
  top: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
  border-radius: 5px;
}
.latestProducts #productsList .item .wishlistWrapper .wishlist .wishlisthero-floating button {
  height: 27px !important;
  font-size: 16px !important;
  width: 21px !important;
}
.latestProducts #productsList .item .wishlistWrapper .wishlist .wishlisthero-floating button svg {
  color: white !important;
}
@media screen and (max-width: 1200px) {
  .latestProducts #productsList .item .wishlistWrapper {
    opacity: 1;
  }
}
.latestProducts #productsList .item .productTitle {
  color: #222;
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  margin-top: 24px;
  margin-bottom: 12px;
}
.latestProducts #productsList .item .priceGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.latestProducts #productsList .item .priceGroup .price {
  color: #e97e3d;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.latestProducts #productsList .item .priceGroup .compareAt {
  margin: 0;
  margin-left: 15px;
  position: relative;
}
.latestProducts #productsList .item .priceGroup .compareAt:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #222;
  position: absolute;
  left: 0;
  top: 50%;
}
.latestProducts #productsList .item .addToCartBTN {
  background: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.latestProducts #productsList .item .addToCartBTN a {
  color: #e97e3d;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.latestProducts #productsList .item:hover .addToCartBTN {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.latestProducts #productsList .item:hover .quicklinks {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}