.moreCategories {
  margin-top: 50px;
  margin-bottom: 50px;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.wrapper .item {
  position: relative;
}
.wrapper .item__image {
  width: 100%;
}
.wrapper .item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .item .title {
  position: absolute;
  bottom: 28px;
  left: 18px;
  margin: 0;
  padding: 9px 15px;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #fcfcfc;
}
.wrapper .item:nth-child(1) {
  grid-row: 1/3;
  height: 640px;
}
.wrapper .item:nth-child(1) .title {
  top: 28px;
  left: 18px;
  bottom: auto;
}
.wrapper .item:not(:nth-child(1)) img {
  height: 300px;
}