.pageTitle {
  text-align: center;
  background: #222;
  padding: 60px 0;
  height: 174px;
}
.pageTitle h2 {
  color: #fcfcfc;
  font-weight: 600;
  font-size: 38px;
}
.pageTitle h2::-moz-selection {
  background: #fcfcfc;
  color: #222;
}
.pageTitle h2::selection {
  background: #fcfcfc;
  color: #222;
}

.productShippment {
  background: #fcfcfc;
  text-align: center;
  color: #222;
}

.productAlternate .productAdditional .headerProdcuts::before, .productAlternate .productAdditional .headerProdcuts::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #efefef;
  margin: 0 auto;
  margin-bottom: 32px;
  margin-top: 32px;
}
.productAlternate .productAdditional .headerProdcuts .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.productAlternate .productAdditional .headerProdcuts .tabs h4 {
  margin: 0;
  color: #222;
  font-size: 21.3px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}
.productAlternate .productAdditional .headerProdcuts .tabs .active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #e97e3d;
  margin: 0 auto;
  margin-bottom: 4px;
  position: absolute;
}
.productAlternate .productAdditional .tabsContent .description {
  display: none;
}
.productAlternate .productAdditional .tabsContent .additionalInformation {
  display: none;
  color: #222;
  padding-top: 33px;
  padding-bottom: 60px;
}
.productAlternate .productAdditional .tabsContent .additionalInformation span {
  color: #9f9f9f;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.13em;
  display: block;
  margin-top: 50px;
}
.productAlternate .productAdditional .tabsContent .additionalInformation h3 {
  font-size: 28.4302px;
  margin-top: 5px;
  margin-bottom: 35px;
}
.productAlternate .productAdditional .tabsContent .additionalInformation h3::after {
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  background: #e97e3d;
}
.productAlternate .productAdditional .tabsContent .additionalInformation h4 {
  font-weight: 700;
  font-size: 21.3px;
  margin-bottom: 15px;
}
.productAlternate .productAdditional .tabsContent .additionalInformation h4:first-child {
  margin-top: 120px;
}
.productAlternate .productAdditional .tabsContent .additionalInformation p {
  margin-bottom: 35px;
}
.productAlternate .productAdditional .tabsContent .additionalInformation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.productAlternate .productAdditional .tabsContent .additionalInformation ul li a {
  color: #222;
}
.productAlternate .productAdditional .tabsContent .review {
  display: none;
}
.productAlternate .productAdditional .tabsContent .activeTab {
  display: block;
}
.productAlternate .productAdditional .tabsContent .noneActive {
  display: none;
}

.spr-form input,
.spr-form textarea {
  padding: 15px 22px;
  border: 1px solid #a8a8a8;
}
.spr-form input:focus-visible,
.spr-form textarea:focus-visible {
  outline: none;
  outline-offset: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary {
  background: #e97e3d;
  height: 60px;
  border: none !important;
  text-transform: uppercase;
  letter-spacing: 6%;
  font-size: 21.33px;
  font-weight: 700;
  padding: 16px 70px;
}
.btn-primary:hover {
  background: #222;
}

.spr-review-content-body {
  font-size: 16px !important;
}

.spr-summary-actions-newreview {
  color: #b6b6b6;
  font-size: 21.33px;
  font-weight: 700;
  text-decoration: none;
}
.spr-summary-actions-newreview:hover {
  color: #222;
}