@import "./colors.scss";

.latestProducts {
  margin-top: 100px;
  margin-bottom: 50px;
  .sectionHeader {
    font-weight: 400;
    font-size: 28px;
    color: $black;
    text-align: center;
    margin-bottom: 50px;
  }
  #productsList {
    list-style: none;
    .item {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      position: relative;
      .upper {
        &:hover {
          .wishlistWrapper {
            opacity: 1;
            transition: all 0.2s ease-in-out;
          }
        }
      }
      .wishlistWrapper {
        margin-top: -45px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        .wishlist {
          .wishlisthero-floating {
            width: 36px;
            height: 36px;
            position: relative !important;
            left: 10px !important;
            top: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;
            background: black;
            border-radius: 5px;
            button {
              height: 27px !important;
              font-size: 16px !important;
              width: 21px !important;
              svg {
                color: white !important;
              }
            }
          }
        }
      }
      @media screen and (max-width: 1200px) {
        .wishlistWrapper {
          opacity: 1;
        }
      }
      .productTitle {
        color: $black;
        text-decoration: none;
        font-weight: 700;
        font-size: 21px;
        line-height: 29px;
        margin-top: 24px;
        margin-bottom: 12px;
      }
      .priceGroup {
        display: flex;
        align-items: center;
        .price {
          color: $primary;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
        }
        .compareAt {
          margin: 0;
          margin-left: 15px;
          position: relative;
          &:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 1px;
            background: $black;
            position: absolute;
            left: 0;
            top: 50%;
          }
        }
      }
      .addToCartBTN {
        background: #fff;
        width: 100%;
        position: absolute;
        bottom: 0;
        transform: translateY(30px);
        opacity: 0;
        transition: all 0.2s ease-in-out;
        a {
          color: $primary;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
        }
      }
      &:hover {
        .addToCartBTN {
          transform: translateY(0px);
          opacity: 1;
          transition: all 0.2s ease-in-out;
        }
        .quicklinks {
          transform: translateY(1px);
          opacity: 1;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}
