@import "./colors.scss";

.page {
  .pageTitle {
    text-align: center;
    background: $black;
    padding: 60px 0;
    height: 174px;
    h2 {
      color: $light;
      font-weight: 600;
      font-size: 38px;
      &::selection {
        background: $light;
        color: $black;
      }
    }
  }
  .pageContent {
    margin: 100px 0;
  }
  @media screen and (max-width: 768px) {
    .pageTitle {
      height: auto;
      padding: 30px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 30px;
      }
    }
    .pageContent {
      margin: 30px 0;
    }
  }
}
